.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: darkslategrey;
}

.tiltBox {
  padding: 30px;
  height: 300px;
  width: 300px;
  border-radius: 10px;
  border: dotted 2px black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.details {
  height: 100px;
  width: 250px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pointer {
  width: 100px;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.pointHere {
  font-weight: 80px;
  color: white;
}
